SERVER_PROTOCOL=http
SERVER_HOST=127.0.0.1
SERVER_PORT=3000
SERVER_SECRET=secret
SERVER_LOGGER=false

MYSQL_DIALECT=mysql
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DATABASE=
MYSQL_USERNAME=
MYSQL_PASSWORD=

WEB_URL=